.card {
    position: relative;
    padding: 1em;
    max-width: 85vw;
    width: 25.7em;
    height: 65vh;
    border-radius: 0.5em;
    margin: auto;

    background-size: cover;
    background-position: center;

    box-shadow: 0 1em 3em 0 rgba(61, 59, 59, 0.3);
}

.swipe {
    position: absolute;
}

.cardContainer {
    display: flex;
    justify-content: center;
    margin: 4em;
}

.card>h3 {
    position: absolute;
    bottom: 0.3em;
    margin: 0.8em 0em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #021944;
    border: #eceaee 0.1em solid;
    color: #eceaee;
    text-align: center;

}