
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chat {
    width: 100vw;
    height: 92vh;
}

.main-container {
    border-radius: 0.5rem;    
}