
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
}

.chat {
    width: 90vw;
    height: 90vh;
}

.main-container {
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.54); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.54);      
}