.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1em solid #021944;
    background-color: #E4CFF7;
}

.header__logo {
    height: 3em;
    object-fit: contain;
}

.header__icon {
    padding: 0.5em;
}